@model BookModel
@{
	ViewData["Title"] = "Create Book";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="vBook">
    <div class="row">
        <div class="col-md-12">
            @using (@Html.BeginForm("Create", "Book", FormMethod.Post, new { id = "formCreateBook", @class = "form-horizontal" }))
            {
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                        </div>
                        <h2 class="panel-title">Create Book</h2>
                    </header>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Title <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="title" id="title" class="form-control"
                                       maxlength="200"
                                       title="Please enter the title name." required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Author: <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="author" class="form-control"
                                       maxlength="100" required=""
                                       title="Please enter the author name." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Description: <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="7" maxlength="500" name="description" id="description" required
                                title="Please enter the description of the book"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label text-sm-right pt-2">Genre <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" name="genre" class="form-control"
                                       maxlength="50" required oninput="this.value = this.value.toUpperCase()"
                                       title="Please enter the author name." />
                            </div>
                            <label class="col-sm-1 control-label text-sm-right pt-2">Language <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-control populate select2" name="ddlLanguage" id="ddlLanguage" style="width:100%"
                                        required title="Please select the language">
                                    <option value="">Select Language</option>
                                    <option value="En">English</option>
                                    <option value="Pt">Portuguese</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-md-9 col-md-offset-3">
                                <a href="@Url.Action("Index", "Book")" class="btn btn-dark pull-right" style="margin-left: 5px;margin-right: 5px;"><i class="fa fa-reply"></i> &nbsp;&nbsp;Voltar</a>
                                <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancelar</button>
                                <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Salvar</button>
                            </div>
                        </div>
                    </footer>
                </section>
            }
        </div>
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
}
@section Scripts {
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
	<script src="~/js/book.js"></script>
	<script>

		(function ($) {

			'use strict';
			var crud = @ViewBag.CrudMessage;

			if (crud === 1) {
				new PNotify({
					title: 'Book',
					text: 'Cadastro realizado com sucesso!',
					type: 'success'
				});
			} else if (crud === 2) {
				new PNotify({
					title: 'Book',
					text: 'Dados alterados com sucesso.',
					type: 'warning'
				});
			} else if (crud === 3) {
				new PNotify({
					title: 'Book',
					text: 'Registro excluído com sucesso.',
					type: 'error'
				});
			}

			var notify = @ViewBag.NotifyMessage;
			var messagem = '@ViewBag.Notify';

			if (notify === 0) {
				new PNotify({
					title: 'Book',
					text: messagem,
					type: 'success'
				});
			} else if (notify === 1) {
				new PNotify({
					title: 'Book',
					text: messagem,
					type: 'warning'
				});
			} else if (notify === 2) {
				new PNotify({
					title: 'Book',
					text: messagem,
					type: 'error'
				});
			}

		}).apply(this, [jQuery]);

	</script>
}