@model WebApp.Models.GenreModel
@{
    ViewData["Title"] = "Genre List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vGenre">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>
                    <h2 class="panel-title">Genre List</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-12 pull-right">
                            <a href="@Url.Action("Create", "Genre")" id="addToTable" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Genre </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Genres != null)
                            {
                                foreach (var item in Model.Genres)
                                {
                                    <tr>
                                        <td class="text-center" style="width:20px;">@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td class="actions text-center">

                                            <a data-toggle="tooltip" data-placement="top" title="Update"
                                               href='javascript:(crud.UpdateModal(@item.Id))'
                                               class="on-default update-row" style='color: #FF9800'>
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" href='javascript:(crud.DeleteModal(@item.Id))'
                                               class="on-default remove-row" style="cursor: pointer;color: #F44336">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdDeleteGenre" tabindex="-1" role="dialog" aria-labelledby="mdDeleteGenreLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdDeleteGenreLabel">
                        <i class="fa fa-trash"></i> &nbsp;&nbsp;<strong>Delete Genre</strong>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="modal-icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <div class="modal-text">
                        <input type="hidden" id="deleteGenreId" />
                        <p class="mb-0">Are you sure you want to <b>delete</b> this genre?</p>
                    </div>
                    <div class="modal-wrapper">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-thumbs-o-down"></i> &nbsp;&nbsp;No</button>
                    <a id="deleteGenreHref" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-thumbs-o-up"></i> &nbsp;&nbsp;Yes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="mdUpdateGenre" tabindex="-1" role="dialog" aria-labelledby="mdUpdateGenreLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdUpdateGenreLabel">
                        <i class="fa fa-pencil"></i> &nbsp;&nbsp;<strong>Update Genre</strong>
                    </h5>
                </div>
                @using (@Html.BeginForm("Update", "Genre", FormMethod.Post, new { id = "formUpdateGenre", @class = "form-horizontal" }))
                {
                    <div class="modal-body">
                        <input type="hidden" name="updateGenreId" :value="updateDto.Id" />
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Name: <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="name" :value="updateDto.Name" class="form-control"
                                       maxlength="200"
                                       title="Please enter the genre name." required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger pull-right" style="margin-left: 5px;" data-dismiss="modal"><i class="fa fa-remove"></i> &nbsp;&nbsp;Cancel</button>
                        <button type="submit" class="btn btn-success pull-right" style="margin-left: 5px;"><i class="fa fa-save"></i> &nbsp;&nbsp;Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section CssSpecificVendor {
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/assets/vendor/select2/js/select2.js"></script>
    <script src="~/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>
    <script src="~/js/genre.js"></script>

    <script>

        (function ($) {

            'use strict';
            var crud = @ViewBag.CrudMessage;

            if (crud === 1) {
                new PNotify({
                    title: 'Genre',
                    text: 'Genre registered success!',
                    type: 'success'
                });
                crud = 0;
            } else if (crud === 2) {
                new PNotify({
                    title: 'Genre',
                    text: 'Genre changed successfully.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
                crud = 0;
            } else if (crud === 3) {
                new PNotify({
                    title: 'Genre',
                    text: 'Genre deleted successfully.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
                crud = 0;
            }


            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';

            if (notify === 0) {
                new PNotify({
                    title: 'Genre',
                    text: messagem,
                    type: 'success'
                });
                crud = 0;
            } else if (notify === 1) {
                new PNotify({
                    title: 'Genre',
                    text: messagem,
                    type: 'warning'
                });
                crud = 0;
            } else if (notify === 2) {
                new PNotify({
                    title: 'Genre',
                    text: messagem,
                    type: 'error'
                });
                crud = 0;
            }

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
    </script>
}



